<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.business.card"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="com.business.card.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />


    <application
        android:name="com.business.card.BusinessCardApplication"
        android:allowBackup="true"
        android:icon="@drawable/handshake"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService" />

        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver"
            android:exported="true" />

        <receiver
            android:name=".receivers.LocationBroadcastReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="com.bu" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NotLoggedActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.CreateAccountActivity"
            android:label="@string/create_new_account"></activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login"></activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.AddEditCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/edit_business_card"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.NearbyCardsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/nearby_cards"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.EventCardsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/event_cards"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SelectLayoutActivity"
            android:label="@string/select_card_layout"
            android:screenOrientation="fullSensor"></activity>
        <activity
            android:name=".activities.ViewCardActivity"
            android:label="@string/view_card"
            android:screenOrientation="fullSensor"></activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"></activity>
        <activity
            android:name=".activities.CreateEventActivity"
            android:label="@string/create_event"></activity>

        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.business.card" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.ScheduledGPSService"></service>

        <service android:name=".services.GcmIntentService" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
